.divider {
	overflow: hidden; /* 1. Use overflow for limit divider, because lines will be very long */
	text-align: center;
}

.divider__text {
	position: relative;
	padding: 10px;

	/* inlineblock: */
	display: inline-block;
	vertical-align: top;	
	zoom: 1 !ie;
	display: inline !ie;
}

.divider__text:after, .divider__text:before {
	content: "";
	display: block;
	width: 2000px; /* Must be veeeeery looooong */
	height: 1px;
	background: #000000;
	position: absolute;
	top: 18px;
}

/* Often useful method: */
.divider__text:after { left: 100% }
.divider__text:before { right: 100% }